$textLight: #000;
$borderLight: #fff;
$backgroundLight: #f5f8fa;
$backgroundHeaderLight: #fff;
$textDark: #fff;
$borderDark: #2b2b40;
$backgroundDark: #151521;
$backgroundHeaderDark: #1e1e2d;

:root {
    --bs-body-font-family: 'Poppins', sans-serif;
    --color-text: #{$textLight};
    --color-border: #{$borderLight};
    --color-background: #{$backgroundLight};
    --color-header-background: #{$backgroundHeaderLight};
}
.dark-mode {
    --color-text: #{$textDark};
    --color-border: #{$borderDark};
    --color-background: #{$backgroundDark};
    --color-header-background: #{$backgroundHeaderDark};
}

html, body {
    margin: 0;
    height: 100%;
}
.app-container {
    display: flex;
    flex-flow: column;
    height: 100%;
}
.app-header {
    flex: 0 1 auto;
    color: var(--color-text);
    height: 93px;
    min-height: 93px;
    max-height: 93px;
    background-color: var(--color-header-background);
    .form-switch {
        font-weight: bold;
    }
    h1, .form-switch {
        margin: 0 50px;
    }
}
.app-main {
    flex: 1 1 auto;
    padding-top: 12px;
    color: var(--color-text);
    background-color: var(--color-background);
    .card {
        border: 1px solid var(--color-border);
        background-color: var(--color-header-background);
        .card-body {
            padding: 0;
        }
        .card-title {
            padding: 16px 16px 0;
        }
    }
    [class^='col-md'] {
        padding: 12px;
    }
}
