$textLight: #000;
$borderLight: #fff;
$backgroundLight: #f5f8fa;
$backgroundHeaderLight: #fff;
$textDark: #fff;
$borderDark: #2b2b40;
$backgroundDark: #151521;
$backgroundHeaderDark: #1e1e2d;

:root {
    --bs-body-font-family: 'Poppins', sans-serif;
    --color-text: #{$textLight};
    --color-border: #{$borderLight};
    --color-background: #{$backgroundLight};
    --color-header-background: #{$backgroundHeaderLight};
    --btn-close-filter: initial;
    --modal-border: #dee2e6;
}
.dark-mode {
    --color-text: #{$textDark};
    --color-border: #{$borderDark};
    --color-background: #{$backgroundDark};
    --color-header-background: #{$backgroundHeaderDark};
    --btn-close-filter: invert(1) grayscale(100%) brightness(200%);
    --modal-border: #{$borderDark};
}

html, body {
    margin: 0;
    height: 100%;
}
.app-container {
    display: flex;
    flex-flow: column;
    height: 100%;
}
.app-header {
    flex: 0 1 auto;
    color: var(--color-text);
    height: 93px;
    min-height: 93px;
    max-height: 93px;
    background-color: var(--color-header-background);
    .form-switch {
        font-weight: bold;
    }
    h1, .form-switch {
        margin: 0 50px;
    }
}
.app-main {
    flex: 1 1 auto;
    padding-top: 12px;
    color: var(--color-text);
    background-color: var(--color-background);
    .card {
        border: 1px solid var(--color-border);
        background-color: var(--color-header-background);
        .card-body {
            padding: 0;
        }
        .card-title {
            padding: 16px 16px 0;
        }
    }
    .modal-content {
        background-color: var(--color-header-background);
        .btn-close {
            filter: var(--btn-close-filter);
        }
        .modal-header,
        .modal-footer {
            border-color: var(--modal-border);
        }
    }
    .form-control {
        color: var(--color-text);
        background-color: var(--color-header-background);
        border: 1px solid var(--modal-border);
    }
    [class^='col-md'] {
        padding: 12px;
    }
}
.react-autosuggest__container {
    position: relative;
    .react-autosuggest__suggestions-container {
        display: none;
    }
    .react-autosuggest__suggestions-container--open {
        display: block;
        position: absolute;
        top: 36px;
        width: 100%;
        border: 1px solid var(--modal-border);
        background-color: var(--color-header-background);
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        z-index: 2;
    }
    .react-autosuggest__suggestions-list {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    .react-autosuggest__suggestion {
        cursor: pointer;
        padding: 10px 20px;
    }
    .react-autosuggest__suggestion--highlighted {
        background-color: var(--color-background);
    }
}
